<div *ngIf="launch" class="card" [routerLink]="['/launches', launch.id]">
    <img
        class="card-img-top"
        [src]="launch.links.flickr.original[0] || '../../../assets/img/space-fallback.png'"
        alt="Photo of {{ launch.name }}"
    />
    <div class="card-content">
        <div class="card-header">
            <img [src]="launch.links.patch.small" alt="Patch of {{ launch.rocket }}" />
            <h3>{{ launch.name }}</h3>
        </div>
        <div class="card-body">
            <div class="flex">
                <strong>Launch Year: </strong>
                <span>{{ launch.date_utc | date: 'dd.MM.yyyy' }}</span>
            </div>
            <div class="flex">
                <strong>Successful: </strong>
                <app-success-indicator [success]="launch.success"></app-success-indicator>
            </div>
            <div>
                <strong>Details:</strong>
                <p>{{ launch.details }}</p>
            </div>
        </div>
    </div>
</div>
