.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .card-img-top {
        height: 30vh;
        width: 100%;
        object-fit: cover;
    }

    .card-header {
        margin: -50px var(--space-medium) 0 var(--space-medium);
        display: flex;
        gap: var(--space-small);
        padding: var(--space-small);
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        img {
            width: 50px;
            height: auto;
        }
    }

    .card-body {
        padding: var(--space-medium);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: var(--space-small);
    }

    .success-icon {
        width: 24px;
        height: 24px;
        fill: var(--color-white);
        background-color: var(--color-success);
        border-radius: 50%;
    }
    .error-icon {
        width: 24px;
        height: 24px;
        fill: var(--color-white);
        background-color: var(--color-error);
        border-radius: 50%;
    }
}
