.icon {
    width: 24px;
    height: 24px;
    fill: var(--color-white);
    border-radius: 50%;
}
.success {
    background-color: var(--color-success);
}
.error {
    background-color: var(--color-error);
}
