<footer class="container footer">
    <div>
        <h2>Sample Header</h2>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
    </div>
    <div>
        <h2>Sample Header</h2>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
    </div>
    <div>
        <h2>Sample Header</h2>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
        <a routerLink="/" routerLinkActive="router-link-active">Sample Link</a>
    </div>
</footer>
